.todos {
	display: flex;
	justify-content: center;
	
	> .todo {
		max-width: 350px;
		width: 100%;
		
		> h2 {
			background-color: #fff;
			text-align: center;
			font-size: 20px;
			font-weight: 600;
			border-radius: 10px;
			padding: 15px 20px;
			margin-bottom: 20px;
			box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
		}
		
		> form {
			display: flex;
			margin-bottom: 40px;
			
			> input {
				margin-right: 10px;
				border-radius: 5px;
				padding: 10px 20px;
				background-color: #fff;
				
			}
			
			> button {
				background-color: #fff;
				border-radius: 5px;
				padding: 10px 20px;
				font-weight: 500;
				width: 100%;
			}
		}
	}
	
	.list {
		
		> p {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 20px;
			background-color: #fff;
			margin-bottom: 10px;
			gap: 20px;
			animation: show 0.3s ease-in-out;
		}
		
		:first-child {
			border-radius: 5px 5px 0 0;
			
		}
		
		:last-child {
			border-radius: 0 0 5px 5px;
		}
		
		:first-child:last-child {
			border-radius: 5px;
		}
		
		span {
			color: #f33636;
			font-size: 30px;
			line-height: 1;
			cursor: pointer;
		}
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

