.todos {
	display: flex;
	justify-content: center;
	border-radius: 20px;
	
	> .todo {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		
		> h2 {
			align-self: flex-start;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 10px;
		}
		
		> form {
			display: flex;
			margin-bottom: 20px;
			
			> input {
				margin-right: 10px;
				border-radius: 5px;
				padding: 10px 20px;
				outline: none;
				background: #fff;
				
			}
			
			> button {
				border-radius: 5px;
				padding: 10px 20px;
				font-weight: 500;
				width: 100%;
			}
		}
	}
	
	.list {
		width: 100%;
		
		
		> p {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 15px 10px 20px;
			margin-bottom: 10px;
			gap: 20px;
			animation: show 0.3s ease-in-out;
			background-color: #fff;
		}
		
		:first-child {
			border-radius: 5px 5px 0 0;
			
		}
		
		:last-child {
			border-radius: 0 0 5px 5px;
		}
		
		:first-child:last-child {
			border-radius: 5px;
		}
		
		span {
			color: #f33636;
			font-size: 30px;
			line-height: 1;
			cursor: pointer;
			padding: 0 5px;
		}
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

