.cardGame {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #dedede;
	border-radius: 20px;
	padding: 20px;
	margin: 0 auto 20px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	max-width: 75%;
	width: 100%;
	
	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 15px;
		max-width: 100%;
		padding: 20px 40px;
		width: 100%;
		animation: show 0.3s ease-in-out;
		
		&.start {
			display: grid;
		}
		
		&.end {
			display: none;
		}
	}
	
	.modalWindow {
		
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 90%;
		height: 90%;
		margin: 10px auto 0;
		background-color: #282828;
		border-radius: 20px;
		color: #fff;
		font-size: 40px;
		text-align: center;
		box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
		gap: 40px;
		padding: 20px;
		animation: show 0.7s ease-in-out;
		
		button {
			width: 80px;
			height: 80px;
			border-radius: 10px;
			
			img {
				width: 40px;
				height: 40px;
			}
			
			
		}
		
		.button img {
			width: 50px;
			height: 50px;
		}
		
		.menuBtn {
			padding-left: 7px;
		}
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes hide {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	background-color: #fff;
	width: 100%;
	padding: 30px 40px;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
}

button {
	font-weight: 600;
	transition: transform 0.2s ease-in-out;
	user-select: none;
	
	&:hover {
		transform: scale(1.05);
	}
}

img, .hearts {
	user-select: none;
	pointer-events: none;
}

.hearts {
	background-color: #fff;
	padding: 11px 20px;
	border-radius: 7px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	animation: show 0.3s ease-in-out;
	
	button {
		
	}
}

.button {
	animation: show 0.3s ease-in-out;
	border-radius: 7px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	background-color: #fff;
}

.yourTurns {
	font-size: 26px;
	background-color: #fff;
	padding: 8px 20px;
	border-radius: 7px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	
}

.menuSide {
	display: flex;
	align-items: center;
	gap: 20px;
	
	
	.button {
		background-color: #ffcd00;
		border-radius: 5px;
		width: 50px;
		height: 50px;
		box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
		
		
		img {
			margin: auto;
		}
	}
	
	.menuBtn {
		width: 50px;
		height: 50px;
		background-color: #ff5757;
		border-radius: 5px;
		box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
		padding-left: 5px;
		
		img {
			margin: auto;
		}
	}
}

.gameModes {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	padding: 30px 40px;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	
	.mode {
		font-size: 40px;
		font-weight: 600;
		margin: 0 auto 20px;
	}
	
	.modeButtons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		
	}
}