.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	padding: 10px 20px;
	gap: 15px;
}

.title {
	font-size: 30px;
	font-weight: 600;
}

.description {
	font-size: 14px;
	font-weight: 400;
}

.icon {
	width: 30px;
	display: inline-block;
}

.text {
	font-size: 12px;
	font-weight: 500;
}

.degrees {
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 0 10px;
	font-size: 50px;
	font-weight: 500;
	line-height: 60px;
}