.header {
	border-radius: 15px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	background-color: rgba(255, 255, 255, .7);
	backdrop-filter: blur(20px);
	
	> a {
		margin-left: 20px;
	}
	
	> nav {
		> ul {
			display: flex;
			gap: 50px;
			
			> li {
				
				> a {
					font-weight: 600;
					position: relative;
					padding-bottom: 4px;
					
					//&::before {
					//	position: absolute;
					//	content: '';
					//	height: 2px;
					//	border-radius: 10px;
					//	background-color: #282828;
					//	left: 0;
					//	right: 0;
					//	bottom: 0;
					//	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
					//	transition: all .4s ease;
					//}
					//
					//&:hover {
					//	&::before {
					//		left: 100%;
					//	}
					//}
				}
			}
		}
	}
}

.logo {
	transition: transform .3s ease;
	
	&:hover {
		transform: rotateZ(30deg);
	}
}
