.header {
	background: #dedede;
	border-radius: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 50px 10px 30px;
	box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
	
	
	> nav {
		
		> ul {
			display: flex;
			gap: 50px;
			
			> li {
				
				> a {
					font-weight: 600;
					
					&.active {
						position: relative;
						z-index: 0;
						animation: show 0.3s ease-in-out;
						
						
						&:before {
							position: absolute;
							content: '';
							width: 170%;
							height: 170%;
							border-radius: 10px;
							background-color: #fff;
							z-index: -1;
							left: -35%;
							top: -30%;
							box-shadow: 0 10px 30px rgba(108, 108, 114, 0.2);
						}
					}
				}
			}
		}
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
